body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1 {
    color: #333;
}
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    width: 100%;
}
#video-container, #result-container {
    margin: 10px;
}
#video-container {
    flex: 2;
}
#result-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#result {
    border: 1px solid #ddd;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 10px;
}
button {
    padding: 10px 15px;
    margin: 5px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
